.floor-plan-info-wrapper{
  height: 100%;
  
  .floor-plan-btn{
    border: 2px solid $mediumBlue;
    background-color: transparent;
    color: $mediumBlue;
    text-transform: uppercase;
    border-radius: 0;
    padding: 16px;
    transition: all .2s;
    
    &:hover{
      background-color: $mediumBlue;
      color: #FFF;
    }
  }
}

#floor-plans-jumbo{
  background-image: url(images/home/Home-BG-Architect.jpg);
  background-size: cover;
  background-position: center bottom;
  margin-bottom: 0;
  height: 50vh;
}

.floor-plan-row{
  margin-bottom: 60px;
  
  .floor-plan-title{
    background-color: $dark;
    padding: 15px;
    margin: 0 -15px 15px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .floor-plan-bedrooms{
    font-weight: 300;
    margin: 0 0 10px;
  }
  
  .floor-plan-bathrooms{
    font-weight: 300;
    margin: 0 0 10px;
  }
  
  .floor-plan-footage{
    font-weight: 300;
    margin: 0 0 10px;
  }
  
}

#plans-desktop-tabs-wrapper{
  background-color: $dark;
  height: 60px;
  
  #plans-desktop-tabs{
    border: none;

    li{
      float: none;
      display: inline-block;
      
      a{
        text-transform: uppercase;
        color: #FFF;
        font-size: 18px;
        line-height: 60px;
        padding: 0 30px;
        font-weight: 300;
        transition: all .5s;
        
        &:hover{
          background-color: $redOrange;
          border: none;
          border-radius: 0;
          margin-top: -10px;
          margin-bottom: -10px;
          
        }
      }
      
      &.active{
        
        a{
          background-color: $darkBlue;
          border: none;
          border-radius: 0;
          margin-top: -10px;
          margin-bottom: -10px;
        }
      }
    }
  }
  
}

#plans-tabs-content-wrapper{
  margin-bottom: 30px;
}