@import 'https://fonts.googleapis.com/css?family=Lato:400,300,700';

$hFont: 'Lato', Helvetica, Arial, sans-serif;
$pFont: 'Lato', Helvetica, Arial, sans-serif;

body{
  font-family: $hFont;
}

h1, h2, h3, h4, h5, h6{
  font-family: $hFont;
}

p{
  font-family: $pFont;
}

.font-blue{
  color: $mediumBlue;
}

.font-orange{
  color: $redOrange;
}

.font-light-blue{
  color: $lightBlue;

}

@media(min-width: 1200px){
  
  p{
    font-size: 18px;
    font-weight: 300;
  }
  
}